<!doctype HTML>
  <head>
    <style>
      #solutionContainer{
        display:grid;
        border:thin solid black;
        width: 200px;
        height: 50px;
        overflow:auto;
      }

    </style>
  </head>


  <body>
    <p>Master Mind !</p>

    <label type="label" id="solution">Solution</label>
    <div id="solutionContainer">
      <button type="button" style="grid-column:1;background:red"></button>
      <button type="button" style="grid-column:2;background:red"></button>
      <button type="button" style="grid-column:3;background:red"></button>
      <button type="button" style="grid-column:4;background:red"></button>
    </div>

  </body>




</HTML>
