<!doctype HTML>
  <head>
    <style>
    </style>
  </head>


  <body>
  <form>
      <label name="newGame" >Want to play Master Mind ?</label>
      <input type ="hidden" name="newGame" value="true" checked></input>
      <input type="submit" value="New Game" formaction="/game"</input>
    </form>

  </body>




</HTML>
