<!doctype HTML>
  <head>
    <style>
    </style>
  </head>


  <body>
    <%if victory%>
    <%="Well played !"%>
    <%else%>
    <%="Too bad !"%>
    <%end%>


  <form>
      <label name="newGame" >Retry ?</label>
      <input type ="hidden" name="newGame" value="true"></input>
      <input type="submit" value="New Game" formaction="/game"</input>
    </form>

  </body>




</HTML>
